@media (min-width: 800px) and (max-width: 2000px) {
h1{
	color: #778899;
	text-shadow: 2px 2px 8px #FF0000;
	text-align: center;
	font: italic bold 80px/100px Georgia, serif;
	text-decoration: underline;
}
body {
	background: #FFF0F5 url("pooh.png") repeat-y;
}
#calculator {
width : 400px;
height : 400px;
border: 5px solid lightpink ;
text-align : center;
background: lightyellow;
margin: 150px auto;
box-shadow: 0px 0px 30px lightblue;
}
#display{
	margin:25px;
	width: 300px;
	height: 50px;
	border:3px solid lightskyblue;
	box-shadow: 0px 0px 20px lightblue;
	text-align:right;
	font: 20px Courier bold;
	color: red;
}
#keys{
	width: 55px;
	height:35px;
	margin:10px;
	text-align: center;
	box-shadow: 0px 0px 10px lightblue;
	cursor: pointer;
}

#keys:hover {
	background: lightblue;
	font-weight: bold;
}
#keys1{
	width: 55px;
	height:35px;
	margin:10px;
	text-align:center;
	background: lightpink; 
	box-shadow: 0px 0px 10px lightblue;
	cursor: pointer;
}
#keys1:hover {
	background: lightblue;
	font-weight: bold;
}
#keys2{
	width: 55px;
	height:35px;
	margin:10px;
	text-align:center;
	background: lightpink; 
	box-shadow: 0px 0px 10px lightblue;
	cursor: pointer;
}
#keys2:hover {
	background: lightblue;
	font-weight: bold;
}
#equal{
	width: 55px;
	height:35px;
	margin:10px;
	background: lightblue;
	box-shadow: 0px 0px 10px lightblue;
	cursor: pointer;
	}
#equal:hover {
	background: lightyellow;
	font-weight: bold;
}
}